.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
    line-height: 60px;
    width: 100%;
}

.title{
    padding-left: 24px;
    padding-right: 34px;
    font-size: 14px;
}
