.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    height: 64px;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
}

.username{
    margin: 0 30px 0 12px;
    cursor: pointer;
}

.notification-icon, .search-icon{
    margin: 0 12px; 
    cursor: pointer;
}

